# GitHub Linguist Override
src/Paseto.Cryptography/Internal/Ed25519Ref10/sc_reduce.cs linguist-language=C#
src/Paseto.Cryptography/Internal/Ed25519Ref10/base2.cs linguist-language=C#
src/Paseto.Tests/Crypto/Ed25519TestVectors.cs linguist-language=C#
